modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18185
externalPort = 3000

[nix]
channel = "stable-25_05"
packages = ["psmisc"]

[userenv]

[userenv.shared]
STRIPE_SK = "sk_test_51TUyw1A1DpVtTo0sqzzEP3Q6RxcbaQMxA8iUZbPL1jasfpOZ0lLxEynzUYVFKUrF1gYmmTbhFRabvejPf5sBNGxm00ncQalsnm"
STRIPE_PK = "pk_test_51TUyw1A1DpVtTo0sljpEToMKIafotyhImPY2GFmZDDZ4XV12fgMOmiPc9VbUw2eKW5gLkqE4KTDLNZjKl95OdyiT00KUOhDCMh"
